<!doctype html>
<html>
<head>
        <meta charset="utf-8">
        <title>果然爱冰激凌图片展示_果然爱产品图片展示_果然爱官网—创业者生态圈|创业者平台,品牌连锁创业网</title>
        <meta name="keywords" content="果然爱冰激凌图片展示,果然爱产品图片展示,果然爱官网"/>
        <meta name="description" content="果然爱产品展示对果然爱各类产品进行图片展示，让您详细了解果然爱以及各类冰激凌产品.">
        <link rel="stylesheet" type="text/css" href="css/all_1.css">
        <script src="js/jquery-1.7.2.min_1.js"></script>
        <script src="js/single_1.js"></script>
        <style>
            .s_page_menu a {color:#fff;}
        </style>
</head>
<body>
<!--logo部分-->
<div class="s_logo_box">
    <div class="logo1" style="background-image:url(images/57e75a64de6eb_1.png);"></div>
    <div class="logo2" style="background-image:url(images/4246402e4eb34da18a5fe6def0444cc8.gif);"></div>
    <div class="logo_sign"></div>
</div>
<!--导航条-->
<div class="nav_box" id="nav">
    <div class="nav s_nav_width">
        <ul id="" class="filetree">
            <li class='' id="" 'menu-item-1'><a href='#' target=''>网站首页</a></li>
            <li class='' id="" 'menu-item-4'><a href='#' target=''>企业简介</a></li>
            <li class='' id="" 'menu-item-2'><a href='#' target=''>合作项目</a></li>
            <li class='' id="" 'menu-item-5'><a href='#' target=''>合作支持</a></li>
            <li class='' id="" 'menu-item-3'><a href='#' target=''>新闻中心</a></li>
            <li class='' id="" 'menu-item-6'><a href='#' target=''>联系我们</a></li>
        </ul>
        <div class="phone_call">加盟热线：400-601-9687</div>
    </div>
</div>
<!--品牌推荐部分-->
<div class="tuijian_box">
    <div class="tuijian_box_left">
        <span>品</span><span>牌</span><span>推</span><span>荐</span>
    </div>
    <div class="tuijian_box_right">
        <ul class="white_bg_ul">
            <li><a href="#">经典传奇 诱惑难挡</a></li>
            <li><a href="#">浓郁香甜 口感丰富</a></li>
            <li><a href="#">张一碗米线</a></li>
            <li><a href="#">沙先生</a></li>
            <li><a href="#">自然味道  意式风味</a></li>
            <li><a href="#">好吃不贵  营养美味</a></li>
            <li><a href="#">汉堡吃出新口感</a></li>
            <li><a href="#">缤纷口味  享你所想</a></li>
            <li><a href="#">新一代西式快餐领航者</a></li>
            <li><a href="#">美味91放肆吃！</a></li>
            <li><a href="#">奇趣百搭  创意饮品</a></li>
            <li><a href="#">薯系美食财富传奇</a></li>
            <li><a href="#">正宗韩餐袭击味蕾</a></li>
            <li><a href="#">进口海蟹，上好鲜肉</a></li>
            <li><a href="#">源动力餐饮项目研发中</a></li>
            <li><a href="#">经典传奇 诱惑难挡</a></li>
            <li><a href="#">现代烤制工艺</a></li>
            <li><a href="#">皇家御品老煎包</a></li>
            <li><a href="#">素衣素食心境 可素可享心安</a></li>
            <li><a href="#">一碗粥里有乾坤</a></li>
            <li><a href="#">中式美味旋风</a></li>
            <li><a href="#">“蒸”的美味  “挣”的财富</a></li>
            <li><a href="#">快时尚复合型餐吧</a></li>
            <li><a href="#">做精致泡芙 享精致美味</a></li>
        </ul>
    </div>
</div>
<!--单页的二级导航-->
<div class="s_page_nav_box">
    <div class="s_page_nav">
        <h1 class="s_page_header"><a href="#" style="color: #fff;">果然爱</a></h1>
        <div class="s_page_menu">
            <a href="#">招商海报</a><a href="#">项目介绍</a><a href="#">公司介绍</a>
            <a href="#">加盟优势</a><a href="#" >产品展示</a><a href="#">品牌资讯</a>
        </div>
        <a href="#" class="call_at_once" target="_blank"></a>
    </div>
</div>
<!--项目介绍的中心内容-->
<div class="main_i">
    <div class="main_i_left">
        <div class="pro_i">
            <img src="images/1.png">
            <ul>
                <li>品牌名称：果然爱</li>
                <li>所属行业：冰激凌 饮品 冷饮</li>
                <li>创业方式：加盟</li>
                <li>店面位置：搜索百度地图精确查找...</li>
                <li>招商地区：全国</li>
                <li>投资金额：4-8万</li>
                <li>项目描述：果然爱加盟，大利润，低风险，日进斗金，天天好生意。</li>
            </ul>
        </div>
        <div class="main_i_left_four_pic">
            <img src="images/1.png" alt="" class="pro_img">
            <img src="images/1.png" alt="" class="pro_img">
            <img src="images/1.png" alt="" class="pro_img">
            <img src="images/1.png" alt="" class="pro_img">
        </div>
    </div>
    <!--右侧内容-->
    <div class="main_i_right">
        <!--右侧顶部推荐位-->
        <div class="s_right_top">
            <a href="#" target="_blank" title="七公主九味卷"><img src="images/1.png" width="210" height="98" alt="七公主九味卷">
                <h3>七公主九味卷</h3>
            </a>
            <a href="#" target="_blank" title="kiumi">
                <img src="images/1.png" width="210" height="98" alt="kiumi">
                <h3>kiumi</h3>
            </a>
        </div>
        <!--品牌推荐-->
        <div class="pingpai_t_box">
            <div class="pingpai_t_header">品牌推荐</div>
            <div class="pingpai_t_line"></div>
            <ul>
                <li><a href="#"><img src="images/1.png" width="105" height="69"></a></li>
                <li><a href="#"><img src="images/1.png" width="105" height="69"></a></li>
                <li><a href="#"><img src="images/1.png" width="105" height="69"></a></li>
                <li><a href="#"><img src="images/1.png" width="105" height="69"></a></li>
                <li><a href="#"><img src="images/1.png" width="105" height="69"></a></li>
                <li><a href="#"><img src="images/1.png" width="105" height="69"></a></li>
            </ul>
        </div>
        <!--行业资讯-->
        <div class="hangye_news">
            <div class="heangye_news_header">
                <p> 行业资讯</p>
                <a href="#">更多>></a>
            </div>
            <div class="hangye_news_line"></div>
            <a class="hangye_news_text" href="#" title="源动力餐饮项目比饺美：更美味的体验">源动力餐饮项目比饺美：更美味的体验</a>
            <div class="hangye_news_line"></div>
            <a class="hangye_news_text" href="#" title="八味锅 能赚钱的鱼火锅">八味锅 能赚钱的鱼火锅</a>
            <div class="hangye_news_line"></div>
            <a class="hangye_news_text" href="#" title="巴比酷：秋高气爽尽享美味">巴比酷：秋高气爽尽享美味</a>
            <div class="hangye_news_line"></div>
            <a class="hangye_news_text" href="#" title="炫彩世界饮品何处寻 百芬爽饮品拔得头筹">炫彩世界饮品何处寻 百芬爽饮品拔得头筹</a>
            <div class="hangye_news_line"></div>
            <a class="hangye_news_text" href="#" title="炉客比萨：经营创业小秘籍">炉客比萨：经营创业小秘籍</a>
            <div class="hangye_news_line"></div>
            <a class="hangye_news_text" href="#" title="风味独特的麻辣烫 勾馋麻辣烫等你来">风味独特的麻辣烫 勾馋麻辣烫等你来</a>
            <div class="hangye_news_line"></div>
            <a class="hangye_news_text" href="#" title="比饺美：选好品牌 更容易成功">比饺美：选好品牌 更容易成功</a>
            <div class="hangye_news_line"></div>
            <a class="hangye_news_text" href="#" title="可素快餐加盟把握成功之道">可素快餐加盟把握成功之道</a>
        </div>
    </div>
</div>
<!--底部footer-->
<div class="footer_bg">
    <div class="footer">
        <!--footer上-->
        <div class="footer_top">
            <div class="footer_top_left">
                <div class="footer_login footer_text">
                    <img src="images/footer_icon1_1.png"><b>NO.1</b>
                    <h4>登陆</h4>
                    <p> 登录www.canyin668.com</p>
                </div>
                <div class="footer_icon_next"></div>
                <div class="footer_search footer_text">
                    <img src="images/footer_icon2_1.png"><b>NO.2</b>
                    <h4>寻找项目</h4>
                    <p> 阅览、查询、选择项目</p>
                </div>
                <div class="footer_icon_next"></div>
                <div class="footer_bbs footer_text">
                    <img src="images/footer_icon3_1.png"><b>NO.3</b>
                    <h4>留言咨询</h4>
                    <p>页面留言、电话咨询、在线沟通</p>
                </div>
                <div class="footer_icon_next"></div>
                <div class="footer_back footer_text">
                    <img src="images/footer_icon4_1.png"><b>NO.4</b>
                    <h4>等待回访</h4>
                    <p> 电话回访、资料画册、邮件信息反馈</p>
                </div>
                <div class="footer_icon_next"></div>
                <div class="footer_back footer_text">
                    <img src="images/footer_icon5_1.png"><b>NO.5</b>
                    <h4>成功合作</h4>
                    <p>实地考察、技术培训、成功开店</p>
                </div>
            </div>
            <!--<img src="images/58bf8d35386dc_1.png" width="274" height="92" style="float:right;"> -->
        </div>
        <!--footer下-->
        <div class="footer_bottom">
            <!--左边部分-->
            <ul>
                <li>
                <ul class="footer_nav">
                    <li><a href="#">网站首页&nbsp;&nbsp;|</a></li>
                    <li><a href="#" rel="nofollow">餐饮加盟&nbsp;&nbsp;|</a></li>
                    <li><a href="#" rel="nofollow">企业月刊&nbsp;&nbsp;|</a></li>
                    <!--<li><a href="#">视频展示&nbsp;&nbsp;|</a></li>
                    -->
                    <li><a href="#" rel="nofollow">企业招聘&nbsp;&nbsp;|</a></li>
                    <li><a href="#" rel="nofollow">新闻中心</a></li>
                </ul>
                </li>
                <li class="footer_banquan">版权所有:北京盛世源动力餐饮管理有限公司                                              京ICP备14000156号-6                                创业有风险  投资需谨慎！     </li>
                <li class="footer_banquan">总部地址： 北京市通州区玉带河东街6号院</li>
            </ul>
            <!--右边部分-->
            <div class="footer_four_pic">
            </div>
        </div>
    </div>
</div>
<div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="#" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" rel="nofollow"><img src="images/beian_1.png" style="float:left;"/>
    <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
        京ICP备14000156号-6
    </p>
    </a>
</div>

<div style="margin-bottom: 55px; text-align: center;font-size: 12px;">
    版权所有：北京盛世源动力餐饮管理有限公司<br>
     总部地址： 北京市通州区玉带河东街6号院<br>
     备案号：京ICP备14000156号-6<br>
    创业有风险 投资需谨慎！
</div>
<div class="sidebar_left">
    <a href="#" class="sidebar_left_text" id="gotop">回到顶部</a>
</div>
<script type="text/javascript" src="js/back_top_1.js"></script>

</body>
</html>