<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>源动力餐饮_可素加盟店_素食加盟—创业者生态圈|创业者平台,品牌连锁创业网</title>
<meta name="keywords" content="源动力餐饮,可素加盟店,素食加盟,餐饮连锁加盟店"/>
<meta name="description" content="源动力餐饮加盟连锁店的可素加盟项目，是主打素菜素食为主的自助加盟连锁品牌。">
<link rel="stylesheet" type="text/css" href="/static/q/css/all_1.css">
<script src="/static/q/js/jquery-1.7.2.min_1.js"></script>
<script src="/static/q/js/single_1.js"></script>
<link rel="stylesheet" type="text/css" href="css/css1_1.css">
</head>
<body>
{include file="index:header" /}
<div style="width: 1200px; margin: 20px auto;overflow: hidden;">
        <script>
            comeid=103;
        </script>
        <script src="http://gbook.aiqin.com/ogbook.js"></script>
	
</div>
{include file="index:footer" /}

</body>
</html>
