<style>
	*{margin: 0;padding: 0}
	.hzdw_bottom {
		width: 900px;
		margin: 0 auto;
		overflow: hidden;
	}	
	.hzdw_bottom h3 {font-size: 32px; text-align: center; color:#f6505a;margin-bottom: 20px; }
	.hzdw_bottom div {width: 110%;}
	.hzdw_bottom a {display: block;width:160px; height: 64px; float: left;margin-left: 16px;margin-bottom: 16px; }
	.hzdw_bottom a img {display: block;width: 170px; height: 64px;}
</style>
<div class="hzdw_bottom">
	<h3>合作单位</h3>
	<div >
		<a href="javascipt:;">
			<img src="/public/images/02_01.jpg" alt="">
		</a>
		<a href="javascipt:;">
			<img src="/public/images/02_03.jpg" alt="">
		</a>
		<a href="javascipt:;">
			<img src="/public/images/02_05.jpg" alt="">
		</a>	
		<a href="javascipt:;">
			<img src="/public/images/02_07.jpg" alt="">
		</a>
		<a href="javascipt:;">
			<img src="/public/images/02_09.jpg" alt="">
		</a>
		<a href="javascipt:;">
			<img src="/public/images/02_15.jpg" alt="">
		</a>
		<a href="javascipt:;">
			<img src="/public/images/02_16.jpg" alt="">
		</a>		
		<a href="javascipt:;">
			<img src="/public/images/02_17.jpg" alt="">
		</a>
		<a href="javascipt:;">
			<img src="/public/images/02_18.jpg" alt="">
		</a>
		<a href="javascipt:;">
			<img src="/public/images/02_19.jpg" alt="">
		</a>	
		<a href="javascipt:;">
			<img src="/public/images/02_25.jpg" alt="">
		</a>	
		<a href="javascipt:;">
			<img src="/public/images/02_26.jpg" alt="">
		</a>	
		<a href="javascipt:;">
			<img src="/public/images/02_27.jpg" alt="">
		</a>	
		<a href="javascipt:;">
			<img src="/public/images/02_28.jpg" alt="">
		</a>	
		<a href="javascipt:;">
			<img src="/public/images/02_29.jpg" alt="">
		</a>
		<a href="javascipt:;">
			<img src="/public/images/02_35.jpg" alt="">
		</a>	
		<a href="javascipt:;">
			<img src="/public/images/02_36.jpg" alt="">
		</a>	
		<a href="javascipt:;">
			<img src="/public/images/02_37.jpg" alt="">
		</a>
		<a href="javascipt:;">
			<img src="/public/images/02_38.jpg" alt="">
		</a>	
		<a href="javascipt:;">
			<img src="/public/images/02_39.jpg" alt="">
		</a>	

	</div>
</div>