	<style>
		*{margin: 0 auto;}
		.bottom_lyb {
			width: 100%;
			border-top: 4px solid #c70460;
		}
		.bottom_lyb .bottom_bt {
			width: 600px;
			margin: 0 auto;

		}
		.bottom_lyb .bottom_bt >h2 {text-align: center; line-height: 80px;font-size: 40px;color: #cf0263;letter-spacing: 2px;}
		.bottom_lyb .bottom_bt >img {width: 60%;margin: 0 auto;display: block}
		.bottom_from {width: 400px; margin: 0 auto}
		.bottom_from .bottom_name,.bottom_from .bottom_tel {border: 1px solid #949494;padding:10px;overflow: hidden;margin-top:12px;border-radius: 10px; }
		.bottom_from .bottom_name img {width: 24px; height: 28px; display: block;float: left;margin-right:  11px; }
		.bottom_from .bottom_name  input,.bottom_from .bottom_tel input{height: 28px; width: 300px;border: none;outline: none;font-size: 16px;}
		.bottom_from .bottom_tel img {width: 16px; height: 28px; display: block;float: left;margin-right:  14px;margin-left: 5px  }
		.bottom_from .bottm_btn  {overflow: hidden; margin-top: 15px; }
		.bottom_from .bottm_btn  a {border-radius:  5px;text-decoration: none;color: #fff;text-align: center;height: 36px;line-height: 36px;display: block;float: left;}
		.bottom_from .bottm_btn  .bottom_zx{width:160px; height: 36px; background: #3698d9;margin-right: 10px; }
		.bottom_from .bottm_btn  .bottom_qw {width: 230px;background: #bf095e;;}

	</style>	
	<div class="bottom_lyb">
		<div class="bottom_bt">
			<h2>马上领取两千元学费优惠</h2>
			<img src="/img/kszt.png">
		</div>
		<div class="bottom_from" name ="">
			<form name="">
				<div class="bottom_name">
					<img src="/img/0551.png">
					<input type="text" placeholder="姓名">
				</div>
				<div class="bottom_tel">
					<img src="/img/0552.png">
					<input type="text" placeholder="手机">				
				</div>
				<div class="bottm_btn">
					<a href="javascipt:;" class="bottom_zx">咨询更多</a>
					<a href="javascipt:;" class="bottom_qw">马上抢占座位</a>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript">
		$('.bottm_btn .bottom_qw').click(function(){
			if($('.bottom_name input').val() =='') return alert('请填写姓名');
			if($('.bottom_tel input').val() =='')  return alert('请填写电话');
			var phoneReg = /^1[3|4|5|7|8][0-9]\d{8}$/;
			if (!phoneReg.test($.trim($('.bottom_tel input').val()))) return alert('请输入有效的手机号码！');
			
			  $('.bottom_from form').submit();
		});	
	</script>
