<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$cinfo.title}-{$web.webname}</title>
    <meta name="Keywords" content="{$cinfo.keywords}">
    <meta name="description" content="{$cinfo.description}">
    <link rel="stylesheet" href="/css/style.min.css">
    <script>
        !(function () {
            var userAgent = navigator.userAgent;
            var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
            reIE.test(userAgent)
            var ISie = parseFloat(RegExp["$1"]);
            if (ISie !== NaN && ISie < 10) {
                alert('您的浏览器版本过低，请您升级浏览器！！')
            }
        })();
    </script>
    
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if lt IE 9]>
            <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    {include file="common/header"}
    <div class="wenda">
        <div class="bt">
             你所关心的都在这里
        </div>
        <div class="lsit">
            <div class="left">
                {include file='common/lyb'}
            </div>
            <div class="right">
                {volist name="data" id="vo"}
                <div class="item">
                    <h3><span></span>{$vo.title}</h3>
                    <p>{$vo.shortnote}</p>
                </div>
                {/volist}
            </div>
        </div>

    </div>
    {$dvpage}
    <!-- footer -->
    {include file='common/footer'}
</body>

</html>