<div class="footer">
    <div class="war">
        <h4>客服热线</h4>
        <h2>010-80320881</h2>
        <div><img src="/images/ie.png"><span>www.zhonglifit.cn</span></div>
        <div><img src="/images/020.png"><span>zhonglifit@163.com</span></div>
        <div><img src="/images/021.png"><span>北京市房山区北京民族大学(总部)</span></div>
        <div class="rwm">
            <img src="/images/footwx.jpg">
            <p>扫一扫关注我们</p>
        </div>
    </div>
    <div class="sq">
         冠军私教，中力打造
        <!-- @All&nbsp;rights&nbsp;reserved&nbsp;Powered&nbsp;by&nbsp;zhonglifit版权所有：中力健身学院-冠军私教中力打造 -->
    </div>
</div>