<div class="header">
    <div class="bar">
        <img src="/images/top.jpg" style="width: 100%;">
        <!-- <div class="logo"><img src="/images/logo.png"></div>
        <div class="js">
            <p>冠军私教中力打造</p>
            <strong>零基础健身教练</strong><br>
            <strong>培训基地</strong>
        </div> -->
    </div>
    <div class="zs">
       <ul>
           <li><a href="/teacher/">师资</a></li>
           <li><a href="/lesson/">课程</a></li>
           <li><a href="/#zhengshu">证书</a></li>
           <li><a href="/#huanjing">环境</a></li>
           <li><a href="/student/">就业</a></li>
           <li><a href="/index/apply/">在线报名</a></li>
       </ul>
    </div>
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="javascript:void(0)"><img src="/images/banner.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var swiper = new Swiper('.banner .swiper-container',{
        spaceBetween: 10,
        loop:true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        }
    });
</script>