<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<ul id="menu-article">
			<li><a data-href="/ht.php/area/" data-title="地区管理" href="javascript:void(0)"><i class="Hui-iconfont">&#xe616;</i> 地区管理</a></li>
			
			<!--<dd>
				<ul>
					<li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">资讯管理</a></li>
				</ul>
			</dd>-->
		</dl>
	</div>

	<div class="menu_dropdown bk_2" style="display:none">
		<dl id="menu-category">
			<dt><i class="Hui-iconfont">&#xe616;</i> 行业管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/ht.php/category/edit/" data-title="创建行业" href="javascript:void(0)">创建行业</a></li>
					<li><a data-href="/ht.php/category/" data-title="行业列表" href="javascript:void(0)">行业列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="menu_dropdown bk_2" style="display:none">
		<dl id="menu-keyword">
			<dt><i class="Hui-iconfont">&#xe616;</i> 关键词<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/ht.php/content/edit/" data-title="创建关键词" href="javascript:void(0)">创建关键词</a></li>
					<li><a data-href="/ht.php/content/" data-title="关键词列表" href="javascript:void(0)">关键词列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="menu_dropdown bk_2" style="display:none">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 文章<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/ht.php/system/baoming?type=0" data-title="创建文章" href="javascript:void(0)">创建文章</a></li>
					<li><a data-href="/ht.php/system/baoming?type=1" data-title="文章列表" href="javascript:void(0)">文章列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>

	<div class="menu_dropdown bk_2" style="display:none">
		<dl id="menu-items">
			<dt><i class="Hui-iconfont">&#xe616;</i> 项目<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/ht.php/system/zhengshu_edit/" data-title="创建项目" href="javascript:void(0)">创建项目</a></li>
					<li><a data-href="/ht.php/system/zhengshu/" data-title="项目列表" href="javascript:void(0)">项目列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>

</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>