{extend name="common:base" /}
{block name="css"}
{/block}
{block name="content"}
<article class="page-container">
	<form class="form form-horizontal" id="form">
		<input type="hidden" name="id" id="id" value="{$info.id}">
		<input type="hidden" name="catid" id="catid" value="{$info.catid}">
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="form-group">
					<input type="file" id="picfile" name="picfile" />
					<button class="btn btn-xs btn-success" id="uploadbtn" type="button">上传</button>
					<span id="picdiv">{neq name="info.picurl" value=""}<img src="{$info.picurl}" width="200" height="80" />{/neq}</span>
					<input type="hidden" name="picurl" id="images" value="{$info.picurl}" />
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="suba();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</article>
{/block}
{block name="js"}
<!--<script type="text/javascript" src="/h/lib/ueditor/1.4.3/ueditor.config.js"></script> 
<script type="text/javascript" src="/h/lib/ueditor/1.4.3/ueditor.all.min.js"> </script> 
<script type="text/javascript" src="/h/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>-->
<script>
	$("#uploadbtn").click(function(){
		pic=$('#picfile').val();
		if (pic.length==0){
			alert('请选择图片');
		}else{
			$.ajaxFileUpload({
				url:'/ht.php/common/uploadpic',            //需要链接到服务器地址
				type:'POST',
				data:{'name':'picfile'},
				secureuri:false,
				fileElementId:'picfile',                        //文件选择框的id属性
				dataType: 'json',                                     //服务器返回的格式，可以是json
				success: function (data){
					if (data.status==1){
						$('#picdiv').html('<img width="200" height="80" src="'+data.src+'" />');
						$('#images').val(data.src);
					}else{
						$('#picdiv').txt('上传失败');
					}
				}
			});
		}
	});
	function suba(){
		var d = {};
		var t = $('#form').serializeArray();
		$.each(t, function() {
		  d[this.name] = this.value;
		});
		$.post('/ht.php/category/images_edit',d,function(data){
			if (data==1){
				layer.msg('保存成功',{icon:6});
			}else{
				layer.msg('保存失败',{icon:5});
			}
		},'json');
	}
</script>
{/block}